.header, .logo, .nav,.banner {
    width: 1090px;
    margin: 0 auto;
}
/* 头部导航 */
#header {
    background: #333333;
}
.header {
    height: 36px;
    background: url(../img/trumpet.gif) no-repeat 0 center;
    a {
        line-height: 36px;
        font-size: 12px;
        color: #cc9756;
        text-decoration: underline;
        margin-left: 28px;
    }
    .header-right {
        margin-top: 8px;
        overflow: hidden;
        li {
            height: 20px;
            border-right: 1px solid #ccc;
            float: left;
            a {
                margin: 0 10px;
                line-height: 16px;
                color: #ccc;
                text-decoration: none;
                &:hover{
                    color: #fff;
                }
            }
        }

    }
    .header-right span {
        margin: 5px 10px 0 0;
        display: inline-block;
        width: 9px;
        height: 5px;
        background: url(../img/3.png) no-repeat;
        background-position: -1px -690px;
    }
    .header-right .header-right-border {
        border: 0;
        padding-left: 13px;
        background: url(../img/phone.jpg) no-repeat 10px 6px;
        // background-position: 0px -169px;

    }

}
/* logo区域 */
.logo {
    height: 90px;
    padding-top: 26px;
    margin-bottom: 18px;
    h1 a {
        display: block;
        width: 210px;
        height: 50px;
        text-indent: -9999px;
        background: url(../img/3.png) no-repeat;
        background-position: -1px -303px;
        margin-right: 163px;
    }
    .logo-form {
        overflow: hidden;
        input {
            float: left;
            height: 36px;
            width: 440px;
            border: 1px solid #cc9756;
            border-radius: 18px 0 0 18px;
            padding-left: 25px;
        }
        button {
            float: left;
            background: #cc9756;
            width: 90px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border: 0;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
        }
    }
    .logo-shopping {
        border: 1px solid #cc9756;
        width: 132px;
        height: 36px;
        position: relative;
        text-align: center;
        line-height: 36px;
        border-radius: 18px;
        background: url(../img/3.png) no-repeat 22px 8px;
        background-position: 14px -140px;
        span {
            position: absolute;
            right: 16px;
            top: 7px;
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: #cd2728;
            line-height: 20px;
            text-align: center;
            color: #fff;
        }
    }
}
/* 导航条nav */
.nav {
    height: 31px;
    overflow: hidden;
}
.nav>li {
    height: 28px;
    border-bottom: 3px solid #fff;
    float: left;
    margin-right: 46px;
    position: relative;
    &>a {
        color: #000;
        line-height: 28px;
        cursor: pointer;
    }
    .nav2 {
         position: absolute;
        top: 31px; 
        display: none;
    }
}
.nav>li:hover {
    border-color: #cc9756;
    }
.nav>li:hover .nav2 {
    display: block;
    } 
.nav-margin-right {
    margin-right: 0;
}
/*<!-- banner图 -->  */
.banner {
    height: 418px;
    
}   
.swiper-slide img {
    width: 1090px;
    height: 418px;
}     
 
















// 变量 $+变量名
// $w:400px;
// $h:200px;
// $c:red;
// $len:50%*10; // 500%
// /* 标题样式 */
// h1{
//   width: $w;
//   height: $h;
//   color: $c;
//   background-color: #ccc;
//   color: green;
// }

// // sass中的注释有两种
// // 1. // sass有的注释，不会被编译到css文件中
// // /* xxx */ 会被编译到css文件中

// // 嵌套语法
// .box{
//   width: $w;
//   background-color: lightblue;
//   h2{
//     font-size: 30px;
//     color: blue;
//   }
//   .show{
//     width: 300px;
//     height: 100px;
//     span{
//       color: red;
//     }
//     p{
//       color: yellow;
//     }
//   }
// }

// // & 指向父选择器
// a{
//   color: blue;
//   &:hover{
//     color: red;
//   }
// }
// .content{
//   width: 500px;
//   &-title{
//     color: red;
//   }
//   &-main{
//     color: blue;
//   }
// }

// // @import 引入外部样式
// @import 'header.scss';

// // @mixin 混合器
// @mixin nostyle {
//   list-style: none;
//   li{
//     padding: 0;
//     color: blue;
//   }
// }
// .list{
//   width: 500px;
//   @include nostyle;
// }

// // 混合器传参
// @mixin common($w,$h,$c) {
//   width: $w;
//   height: $h;
//   color: $c;
// }
// .box1{
//   background-color: #ccc;
//   @include common(500px,200px,red);
// }
// .box2{
//   padding: 10px;
//   @include common(300px,100px,blue);
// }

// // 继承
// .box3{
//   padding: 20px;
//   margin: 10px;
//   font-size: 20px;
// }
// .box4{
//   width: 500px;
//   background: pink;
//   @extend .box3;
// }


